@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


@layer components {

  h1 {
    @apply text-[2.4rem];
  }
  h2 {
    @apply text-[2rem];
  }
  h3 {
    @apply text-[1.4rem];
  }


  .max-clamp {
    font-size: clamp(2rem, 14vw, 32rem);
    line-height: 1;
    font-feature-settings: "kern" 1;
  }
  .xl-clamp {
    font-size: clamp(2rem, 8vw, 18rem);
    line-height: 1;
    font-feature-settings: "kern" 1;
  }

  .page {
    @apply w-full min-h-[99.5vh] 
      flex items-center justify-center;
  }


  /* button styles */
  button.icon {
    @apply hover:bg-slate-100 hover:text-blue-700 rounded-lg p-1 transition-colors;
  }

  /* font colors */
  .c-f-green {
    @apply text-green-600;
  }
  .c-f-blue {
    @apply text-blue-600;
  }
  .c-f-red {
    @apply text-red-600;
  }

}

